section {
    margin-top: 15px; 
}

.gender {
    margin-top: 15px;
}

.dropdown {
    margin-top: 15px;
    margin-bottom: 15px;
} 

td {
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    
}

table {
    margin-top: 15px;
    margin-bottom: 15px;
}

img {
    width: 350px;
}

iframe {
    margin-left: 300px;
    width: 750px;
    height: 100px;
}